
@media screen and (max-width: 480px){
	
	#naslovna .email, #naslovna .tel {
		font-size: 14px;
	}

	.primary, .cell{
		font-size: 14px;
	}
}

@media screen and (min-width: 480px){

	.kontakt-form{
		width: 50%;
		float: left;
	}

	.contact-info{
		width: 40%;
		float: right;
		text-align: left;
		padding-top: 0;
	}
}

@media screen and (min-width: 600px){


	#onama p{
		padding: 0;
	}
	
	.onama-content{
		margin-bottom: 50px;
	}

	.col-img{
		width: 40%;
		float: right;
		padding-left: 5%;
	}

	.col-content{
		width: 55%;
		float: left;
	}

	#usluge .col{
		width: 28.333%;
		padding: 0 2.5%;
		float: left;
	}

	#usluge .last-child{
		float: right;
	}
	
}

@media screen and (max-width: 740px){

	.flex-direction-nav a.flex-prev,
	.flex-direction-nav a.flex-next{
		display: none;
	}

	#naslovna ul li img{
		display: none;
	}

	.nav{
		display: none;
		margin-top: 10px;
		background: rgba(205,210,170,0.2);
	}

	.nav li{
		display: block;
	}
	
	/*===========Toggle navigation=====================*/
	
	.nav-btn{
		display: block;
		text-align: center;
		font-size: 28px;
		font-weight: 700;
		color: #add9b8;
		cursor: pointer;
		transition: 0.2s all ease-in;
	}
	
	.nav-btn:hover{
		color: #f5ffea;
	}

	.nav-btn:before{
		content: "MENU";
	}

	#naslovna, h1, h2{
		padding-bottom: 70px;
	}

}


@media only screen and (max-width: 760px)  {

		body {
			padding: 0;
		}

		#table {
			display: block;
		}

		.row { 
			position: relative;
			display: block;
			border-bottom: 1px solid #256068; 

		}

		.header-row {
			display: none;
		}
		
		.cell { 
			display: block;
			border: none;
			position: relative;
			height: 45px;
			line-height: 45px;
			text-align: left;
		}

		.primary:after {
			content: "";
			display: block;
			position: absolute;
			right:20px;
			top:18px;
			z-index: 2;
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:10px solid #256068;

		}

		.cell:nth-of-type(n+2) { 
			display: none; 
		}


		input[type="radio"],
		input[type="checkbox"] {
			display: block;
			position: absolute;
			z-index: 1;
			width: 99%;
			height: 100%;
			opacity: 0;
		}

		input[type="radio"]:checked ~ .cell,
		input[type="checkbox"]:checked ~ .cell {

			display: block;
			border-bottom: 1px solid #eee; 
		}

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
			
			background: #f6ffea;
		}

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {

			content: attr(data-label);
			display: inline-block;
			width: 60px;
			background: #256068;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}

		input[type="radio"]:checked ~ .primary,
		input[type="checkbox"]:checked ~ .primary  {
			border-bottom: 2px solid #999;
		}

		input[type="radio"]:checked ~ .primary:after,
		input[type="checkbox"]:checked ~ .primary:after {
	 		position: absolute;
			right:18px;
			top:22px;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent; 
			border-top:10px solid #256068;
			z-index: 2;
		}
	}




